.headerRoot{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-bottom: 1px solid #80808085;
    width:100%;
    max-width: 600px;
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}

.launchRoot{
    width:100%;
    display: flex;
}

.launchRoot button{
    width: 100%;
    color: white;
}

.selectorRoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition-duration: 0.2s;
}

.selectorText{
    font-size: 100%;
    font-weight: bold;
}

.titleRoot{
    display: flex;
    justify-content: space-between;
}

.playerName{
    border: none;
    cursor: pointer;
    text-align: end;
    font-size: 150%;
}