.appRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 0 10px;
    max-width: 600px;
    margin: 0 auto;
}

.rightBar{
    
}